@model BookStoreTM.Models.ProductCategory
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "SuaDMSanPham";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Sửa danh mục sản phẩm</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Danh mục sản phẩm</a></li>
                    <li class="breadcrumb-item active">Sửa</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Thông tin  danh mục</h3>
        </div>

        <div class="bs-stepper-content">
            @using (Html.BeginForm("SuaDMSanPham", "ProductCategory", FormMethod.Post, new { }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(false)
                @Html.HiddenFor(x => x.ProductCategoryId)
                <input type="hidden" asp-for="CreatedDate" />
                <div id="logins-part" class="content active dstepper-block" role="tabpanel" aria-labelledby="logins-part-trigger">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Tên danh mục</label>
                        @Html.TextBoxFor(x => x.Name, new { @class = "form-control", @placeholder = "Tên danh mục" })
                        @Html.ValidationMessageFor(x => x.Name, null, new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <label for="exampleInputPassword1">Seo title</label>
                        @Html.TextAreaFor(x => x.SeoTitle, new { @class = "form-control" })
                    </div>

                    <div class="form-group">
                        <label for="exampleInputPassword1">SeoDescription</label>
                        @Html.TextAreaFor(x => x.SeoDescription, new { @class = "form-control" })
                    </div>

                    <div class="form-group">
                        <label for="exampleInputPassword1">SeoKeywords</label>
                        @Html.TextAreaFor(x => x.SeoKeywords, new { @class = "form-control" })
                    </div>

                    <div class="form-group">
                        <a asp-action="Index" class="btn btn-danger">Quay lại</a>
                        <button type="submit" class="btn btn-primary">Lưu</button>
                    </div>
                </div>
            }
        </div>
    </div>
</section>



@* <h1>SuaDMSanPham</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SuaDMSanPham" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Icon" class="control-label"></label>
                <input asp-for="Icon" class="form-control" />
                <span asp-validation-for="Icon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SeoTitle" class="control-label"></label>
                <input asp-for="SeoTitle" class="form-control" />
                <span asp-validation-for="SeoTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SeoKeywords" class="control-label"></label>
                <input asp-for="SeoKeywords" class="form-control" />
                <span asp-validation-for="SeoKeywords" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SeoDescription" class="control-label"></label>
                <input asp-for="SeoDescription" class="form-control" />
                <span asp-validation-for="SeoDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedDate" class="control-label"></label>
                <input asp-for="CreatedDate" class="form-control" />
                <span asp-validation-for="CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdatedDate" class="control-label"></label>
                <input asp-for="UpdatedDate" class="form-control" />
                <span asp-validation-for="UpdatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedBy" class="control-label"></label>
                <input asp-for="CreatedBy" class="form-control" />
                <span asp-validation-for="CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdatedBy" class="control-label"></label>
                <input asp-for="UpdatedBy" class="form-control" />
                <span asp-validation-for="UpdatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
 *@
