@model IEnumerable<BookStoreTM.Models.Product>
@* @using BookStoreTM.Models; *@
@{
    ViewData["Title"] = "Trang chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var productSale = ViewBag.productSale as List<Product>; 
    var news = ViewBag.news as List<News>; 
}


<!-- Begin Slider Area -->
<div class="slider-area">

    <!-- Main Slider -->
    <div class="swiper-container main-slider-2 swiper-arrow with-bg_white swiper-container-fade swiper-container-initialized swiper-container-horizontal swiper-container-pointer-events">
        <div class="swiper-wrapper" id="swiper-wrapper-f7ff16e74eae2b3f" aria-live="off" style="transition-duration: 0ms;">
            <div class="swiper-slide animation-style-01 swiper-slide-duplicate swiper-slide-duplicate-active" data-swiper-slide-index="1" role="group" aria-label="1 / 4" style="width: 1583px; transition-duration: 0ms; opacity: 0; transform: translate3d(0px, 0px, 0px);">
                <div class="slide-inner bg-height" data-bg-image="../ImagesBook/banner3.jpg" style="background-image: url(&quot;assets/images/slider/bg/2-2.jpg&quot;);">
                </div>
            </div>
            <div class="swiper-slide animation-style-01 swiper-slide-prev swiper-slide-duplicate-next" data-swiper-slide-index="0" role="group" aria-label="2 / 4" style="width: 1583px; transition-duration: 0ms; opacity: 0; transform: translate3d(-1583px, 0px, 0px);">
                <div class="slide-inner bg-height" data-bg-image="../ImagesBook/banner3.jpg" style="background-image: url(&quot;assets/images/slider/bg/2-1.jpg&quot;);">
                </div>
            </div>
            <div class="swiper-slide animation-style-01 swiper-slide-active" data-swiper-slide-index="1" role="group" aria-label="3 / 4" style="width: 1583px; transition-duration: 0ms; opacity: 1; transform: translate3d(-3166px, 0px, 0px);">
                <div class="slide-inner bg-height" data-bg-image="../ImagesBook/banner3.jpg" style="background-image: url(&quot;assets/images/slider/bg/2-2.jpg&quot;);">
                </div>
            </div>
            <div class="swiper-slide animation-style-01 swiper-slide-duplicate swiper-slide-next swiper-slide-duplicate-prev" data-swiper-slide-index="0" role="group" aria-label="4 / 4" style="width: 1583px; transition-duration: 0ms; opacity: 0; transform: translate3d(-4749px, 0px, 0px);">
                <div class="slide-inner bg-height" data-bg-image="../ImagesBook/banner3.jpg" style="background-image: url(&quot;assets/images/slider/bg/2-1.jpg&quot;);">
                </div>
            </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination with-bg d-md-none swiper-pagination-clickable swiper-pagination-bullets"><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 1"></span><span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button" aria-label="Go to slide 2"></span></div>

        <!-- Add Arrows -->
        <div class="swiper-button-next" tabindex="0" role="button" aria-label="Next slide" aria-controls="swiper-wrapper-12a7d36ffb810b436"></div>
        <div class="swiper-button-prev" tabindex="0" role="button" aria-label="Previous slide" aria-controls="swiper-wrapper-12a7d36ffb810b436"></div>
        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
    </div>

</div>
<!-- Slider Area End Here -->

<!-- Begin Product Area -->
<div class="product-area product-style-2 section-space-y-axis-100" style="padding-bottom: 0px !important;">
    <div class="container">
        @if (Model != null && Model.Any())
        {
            <div class="section-title text-center pb-55">
                <h2 class="title mb-0">Sách nổi bật</h2>
            </div>
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-xl-3 col-lg-4 col-sm-6 pt-6 pt-sm-0" style="margin-top: 1rem;">
                        <div class="product-item" style="margin-top: 1rem;">
                            <div class="product-img img-zoom-effect">
                                <a href="/products/detail/@item.ProductId">
                                    <img class="img-full" src="@item.Images" alt="@item.ProductName">
                                </a>
                                <div class="product-add-action">
                                    <ul>
                                        <li>
                                            <a asp-controller="ShopCart" asp-action="Add" asp-route-id="@item.ProductId">
                                                <i class="pe-7s-cart"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a asp-controller="Favorite" asp-action="AddFavorite" asp-route-productId="@item.ProductId">
                                                <i class="pe-7s-like"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product-content">
                                <a class="product-name" href="/products/detail/@item.ProductId">@item.ProductName</a>
                                @if (item.PriceSale > 0 && item.PriceSale < item.Price)
                                {
                                    <div class="price-box pb-1">
                                        <span class="new-price">@BookStoreTM.Common.Common.FormatNumber(item.PriceSale, 0) VND</span>
                                        <br />
                                        <span class="old-price text-primary">@BookStoreTM.Common.Common.FormatNumber(item.Price, 0) VND</span>
                                    </div>
                                }
                                else
                                {
                                    <div class="price-box pb-1">
                                        <span class="new-price">@BookStoreTM.Common.Common.FormatNumber(item.Price, 0) VND</span>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
</div>
<!-- Product Area End Here -->

<!-- Begin Banner Area -->
<div class="shipping-area section-space-top-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="shipping-item">
                    <div class="shipping-img">
                        <img src="assets/images/shipping/icon/plane.png" alt="Shipping Icon">
                    </div>
                    <div class="shipping-content">
                        <h5 class="title">Miễn phí vận chuyển</h5>
                        <p class="short-desc mb-0">Ưu đãi giao hàng tận nhà miễn phí</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 pt-6 pt-md-0">
                <div class="shipping-item">
                    <div class="shipping-img">
                        <img src="assets/images/shipping/icon/earphones.png" alt="Shipping Icon">
                    </div>
                    <div class="shipping-content">
                        <h5 class="title">Hỗ trợ trực tuyến</h5>
                        <p class="short-desc mb-0">Cung cấp hỗ trợ trực tuyến 24/7</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 pt-6 pt-lg-0">
                <div class="shipping-item">
                    <div class="shipping-img">
                        <img src="assets/images/shipping/icon/shield.png" alt="Shipping Icon">
                    </div>
                    <div class="shipping-content">
                        <h5 class="title">Hỗ trợ đổi trả </h5>
                        <p class="short-desc mb-0">Dịch vụ hỗ trợ đổi trả sách</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner Area End Here -->

<!-- Begin sale -->
<div class="product-area section-space-y-axis-100">
    <div class="container">
        <div class="section-title text-center pb-55">
            <h2 class="title mb-0">Sách giảm giá </h2>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="swiper-container product-slider swiper-arrow with-radius border-issue">
                    <div class="swiper-wrapper">
                        @foreach (var item in productSale)
                        {
                            <div class="swiper-slide">
                                <div class="product-item">
                                    <div class="product-img img-zoom-effect">
                                        <a href="/products/detail/@item.ProductId">
                                            <img class="img-full" src="@item.Images" alt="@item.ProductName">
                                        </a>
                                        <div class="product-add-action">
                                            <ul>
                                                <li>
                                                    <a asp-controller="ShopCart" asp-action="Add" asp-route-id="@item.ProductId">
                                                        <i class="pe-7s-cart"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a asp-controller="Favorite" asp-action="AddFavorite" asp-route-productId="@item.ProductId">
                                                        <i class="pe-7s-like"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <a class="product-name" href="/products/detail/@item.ProductId">@item.ProductName</a>
                                        @if (item.PriceSale > 0)
                                        {
                                            <div class="price-box pb-1">
                                                <span class="new-price">@BookStoreTM.Common.Common.FormatNumber(item.Price, 0) VND</span>
                                                <br />
                                                <span class="old-price text-primary">@BookStoreTM.Common.Common.FormatNumber(item.PriceSale, 0) VND</span>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="price-box pb-1">
                                                <span class="new-price">@BookStoreTM.Common.Common.FormatNumber(item.Price, 0) VND</span>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                    </div>

                    <!-- Add Arrows -->
                    <div class="swiper-nav-wrap">
                        <div class="swiper-button-next"></div>
                    </div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Product Area End Here -->

<!-- Begin Blog tin tức -->
<div class="blog-area section-space-y-axis-100">
    <div class="container">
        <div class="section-title text-center pb-55">
            <h2 class="title mb-0">Tin tức - Sự kiện</h2>   
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="swiper-container blog-slider">
                    <div class="swiper-wrapper">
                        @foreach (var item in news)
                        {
                            <div class="swiper-slide">
                                <div class="blog-item">
                                    <div class="blog-img img-zoom-effect">
                                        <a href="/news/detail/@item.NewsId">
                                            <img class="img-full" src="@item.Image" alt="Blog Image">
                                        </a>
                                    </div>
                                    <div class="blog-content">
                                        <div class="blog-meta text-dim-gray pb-3">
                                            <ul>
                                                <li class="date"><i class="fa fa-calendar-o me-2"></i>@item.CreatedDate?.ToString("dd/MM/yyyy")</li>
                                            </ul>
                                        </div>
                                        <h5 class="title mb-4">
                                            <a href="/news/detail/@item.NewsId">@item.Title</a>
                                        </h5>
                                        <p class="short-desc mb-5">@item.Description</p>
                                        <div class="button-wrap">
                                            <a class="btn btn-custom-size btn-dark btn-lg rounded-0" href="/news/detail/@item.NewsId">Chi tiết</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Blog Area End Here -->

<style>
    .img-full {
        width: 100%; 
        height: 300px;
        object-fit: cover; 
    }

    .blog-content .short-desc {
        font-size: 14px;
        line-height: 26px;
        color: #626262;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
    }

    h5.title.mb-4 a{
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
    }

    .product-content .product-name {
        line-height: 1.4em;
        word-break: break-word;
        white-space: normal;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        min-height: 2.8em;
        max-height: 2.8em;
    }
</style>