@model BookStoreTM.Models.Publisher
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "nhà xuất bản";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Thêm mới nhà xuất bản</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Danh mục</a></li>
                    <li class="breadcrumb-item active">Sửa</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Sửa thông tin nhà xuất bản</h3>
        </div>

        <div class="bs-stepper-content">
            @using (Html.BeginForm("SuaNXB", "Publisher", FormMethod.Post, new { }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(false)
                @Html.HiddenFor(x => x.PublisherId)

                <div id="logins-part" class="content active dstepper-block" role="tabpanel" aria-labelledby="logins-part-trigger">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Tên nhà xuất bản</label>
                        @Html.TextBoxFor(x => x.PublisherName, new { @class = "form-control", @plachilder = "Tên danh mục" })
                        @Html.ValidationMessageFor(x => x.PublisherName, null, new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Email</label>
                        @Html.TextAreaFor(x => x.Email, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Địa chỉ</label>
                        @Html.TextBoxFor(x => x.Address, new { @class = "form-control" })
                    </div>

                    <div class="form-group">
                        <label for="exampleInputEmail1">Số điện thoại</label>
                        @Html.TextBoxFor(x => x.Phone, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <a asp-action="Index" class="btn btn-danger">Quay lại</a>
                        <input type="submit" value="Lưu" class="btn btn-primary" />
                    </div>
                </div>
            }
        </div>
    </div>
</section>

